main {
  padding: var(--gap-3);
}

.card {
  aspect-ratio: 9/10;
  background-color: var(--brown);
  padding: var(--gap-1);
}

.mini-card {
  width: 150px;
  aspect-ratio: 1/1.4;
  background-color: var(--yellow);
  padding: var(--gap-1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:focus-within {
    border: 4px solid navy;
  }
}

.dead {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label:has([type='checkbox']) {
  position: relative;
}

[type='checkbox'] + svg {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  z-index: 99;
}

input[type='radio']:focus,
input[type='checkbox']:not(table *):focus {
  background-color: var(--bg-active);
}

[aria-label='close'] {
  filter: brightness(0);
  /* filter: hue-rotate(120deg); */
}

table {
  border: 1px solid navy;
}

.lead-checkbox {
  position: relative;
}
.lead-checkbox [type='checkbox'] + svg {
  right: auto;
  left: calc(var(--hit-area-width) - 46px);
}
ul {
  list-style-type: '';
  margin: 0;
  padding: 0;
  /* width: min(750px, 90vw); */

  li {
  }
}

.invisible {
  background-color: rgba(255, 255, 255, 0) !important;
}

.test > article {
  aspect-ratio: auto !important;
  margin-bottom: 2rem;
  border: 2px solid blue;
  background-color: transparent !important;
  & > h3 {
    column-span: all;
  }
}
