/* PORT TO ../INDEX.CSS */
input[type='radio']:focus,
input[type='checkbox']:not(table *):focus {
  background-color: var(--bg-active);
}

input[type='checkbox']:checked:after {
  content: '✔︎';
  display: grid;
  place-content: center;
  height: 100%;
}

input[type='checkbox'].none:after {
  content: '✘';
  display: grid;
  place-content: center;
  height: 100%;
}

input[type='radio']:checked:after {
  content: '●';
  display: grid;
  place-content: center;
  height: 100%;
}
input[type='checkbox']:indeterminate:after,
input[type='checkbox'].indeterminate:after {
  content: '⁃';
  display: grid;
  place-content: center;
  height: 100%;
}
/* END PORT TO ../INDEX.CSS */

.card {
  aspect-ratio: 9/10;
  background-color: var(--brown);
  padding: var(--gap-1);
}

.mini-card {
  width: 150px;
  aspect-ratio: 1/1.4;
  background-color: var(--yellow);
  padding: var(--gap-1);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:focus-within {
    border: 4px solid navy;
  }
}

[aria-label='close'] {
  filter: brightness(0);
  /* filter: hue-rotate(120deg); */
}

table {
  border: 1px solid navy;
}

.button {
  color: #4b5563;
  background-color: #f3f4f6;
  &:hover  {
    color: #9ca3af;
    background-color: #e5e7eb;
  }
}

ul {
  list-style-type: '';
  margin: 0;
  padding: 0;
  /* width: min(750px, 90vw); */

  li {
  }
}

.invisible {
  background-color: rgba(255, 255, 255, 0) !important;
}

.test > article {
  aspect-ratio: auto !important;
  margin-bottom: 2rem;
  border: 2px solid blue;
  background-color: transparent !important;
  & > h3 {
    column-span: all;
  }
}
